body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s;
  z-index: 100;
}

#navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  transition: background-color 0.3s;
}

#navbar li {
  margin: 0;
  padding: 10px;
}

#navbar a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

#navbar a:hover {
  color: #007BFF;
}
